<div id='homepagelinks'>
    <a href='/movies'><button id='seeall'>Click here to see All Movies!!</button></a>
</div>
    <% if (user) { %>
        <h1 id='welcome'>Welcome <%= user.name %> Here's Your List Of Unwatched Movies!</h1>
<hr id="movieshr">

<div class='movies-grid'>        
                <% user.unwatchedMovies.forEach(movie => { %>
            <div class='movie-card'>
                <div class='movie-content'>
                        <img src='<%= movie.img %>' alt='<%= movie.title %> Poster' width='200'>
                        <h2 class='movie-title'><%= movie.title %></h2>
                    <div class='button-container'>
                        <form action='/users/remove-movie?_method=PUT' method='POST'>
                            <input type='hidden' name='movieId' value='<%= movie._id %>'>
                            <button type='submit' class='remove-button'>Remove from List</button>
                        </form>
                </div>
            </div>
        
    </div>
    <% }); %>
</div>
<% } else { %>
    <p id='please'>Please sign in to add movies to your list!</p>
    <h1 id='homepage-intro'>Welcome to our Movie Watchlist application! 
        <br>
        We designed this application to allow users to add movies they want to watch to their Unwatched Movies list!
        <br>
        We also designed it for users to add movies not included in the list of movies!
        <br>
        Hope you guys enjoy! 
    </h1>
<% } %>

